<h2>Profile</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= render 'users/fields', f: f %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <% if resource.identities.blank? %>
      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h2>Socials</h2>
<%-
  connected = resource.identities.pluck(:provider).map(&:to_sym)
  registered = resource_class.omniauth_providers
  nonconnected = registered - connected
%>
<%- connected.each do |provider| %>
  <div>
    You are connected with <%= omniauth_icon(provider) %> <%= OmniAuth::Utils.camelize(provider) -%>.<br/>
  </div>
<% end -%>

<%- if nonconnected.present? %>
  Connect with:
<% end -%>

<%- nonconnected.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), class:
  'btn btn-default' do %>
      <%= omniauth_icon(provider) %> <%= OmniAuth::Utils.camelize(provider) %>
    <% end %>
<% end -%>

<% if false %>
<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
<% end %>


