<%= link_to 'New message', new_admin_message_path, class: 'btn btn-primary' %>

<% @messages.each do |message| %>
  <div class="row">
    <div class="col-xs-3">
      <%= message.text.truncate(80) %>
    </div>
    <div class="col-xs-1">
      <%= message.sent? ? 'Finished' : 'In progress' %>
    </div>
    <div class="col-xs-1">
      Sent <%= message.sent %> of <%= message.notifications_count %>
    </div>
  </div>
<% end %>
