<%= link_to 'New message', new_admin_message_path, class: 'btn btn-primary' %>

<hr>

<table class="table">
  <thead>
    <tr>
      <th class="col-xs-1">#</th>
      <th class="col-xs-5">Message</th>
      <th class="col-xs-6">Status</th>
    </tr>
  </thead>
  <tbody>
  <% @messages.each do |message| %>
    <tr>
      <td>
        <%= message.id %>
      </td>
      <td>
        <%= message.text.truncate(80) %>
      </td>
      <td>
        <div class="progress">
          <div class="progress-bar 
          <% if message.sent? %>
            progress-bar-success
          <% end %>" 
          role="progressbar" aria-valuenow="<%= message.sent %>" 
          aria-valuemin="0" aria-valuemax="<%= message.notifications_count %>" 
          style="min-width: 3em; width: <%= 100 * message.sent / [1, message.notifications_count].max %>%;">
            <%= message.sent %> / <%= message.notifications_count %>
          </div>
        </div>
    </td>
    </tr> 
  <% end %>
  </tbody>
</table>
